
.header-container {
  width: 100%;
  height: 80px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Creepster', cursive;
    letter-spacing: 4px;
    margin-left: 40px;
    cursor: pointer;
  }
  .logout {
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    cursor: pointer;
  }
}

.nav ul {  /* for horizontal nav bar list */
  list-style-type: none;
  padding: 0;

 }

.nav li { /* to align list to the right */
  float: left;
  margin-right: 25px;
  }

.nav li a { /* change font size of active link bar */
  font-size: 18px;
  color: black;
}

body{ /* body must be relative for navigation */
  font-family: Arvo;
  position: relative;
}

.nav .active a { /*change active background color */
  background-color: white!important;
}
.navbar { /*change navbar background color */
  background-color: lightblue;
}

.navbar-brand { /* change navbar brand size */
  font-size: 18px;
      font-weight: bold;
      margin-right: 40px;
      cursor: pointer;
}

/*******************************************************
content formatting below is not relevant to nav bar
*******************************************************/

#home, #navbar, #scrollspy, #format{
  text-align: left;
  margin-left: 50px;
}

#home ul, #navbar ul, #scrollspy ul{
  font-size: 20px;
}

a {
  font-size: 20px;
}

h1 {
  margin-bottom: 100px;
  margin-top: 75px;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  font-family: 'Creepster', cursive;
  letter-spacing: 4px;
  margin-left: 40px;
  cursor: pointer;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 5px;
}

p {
  font-size: 20px;
  
}

img {
  width: 800px;
  margin-top: 30px;
  margin-bottom: 50px;
}
