<div class="header-container">
  <a class="logo" style="margin-left: 25px;" href="voting-home">Home</a>
  <a class="logout" style="margin-left: 900px;" href="login">Logout : {{userId}}</a>
</div>
<h1>Welcome to Voting Application..!</h1>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="create-question">Create Question</a></li>
    <br>
    <p>click on create question to create a new question for people to vote on</p>
    <hr>
    <li><a href="cast-vote">Cast Vote</a></li>
    <br>
    <p>click on cast-vote to vote on questions that you and other people have created.</p>
    <hr>
    <li><a href="view-results">View Results</a></li>
    <br>
    <p>click on view-results to check the voting results..</p>
  </ul>
</div>